<!DOCTYPE html>
<html>
 <head>
    <title>!DOCTYPE</title>
    <meta charset="utf-8">
    
 </head>
 <body>
  <!--<a href="#" onClick="statistics.counters.google.init(); statistics.counters.yandex.init(); statistics.pageview(location.pathname); window.location='https://ga-catalog-dkudrin.c9users.io/test.html'" >-->
  <!--  Отправить событие-->
  <!--</a>-->
  <a href='https://ga-catalog-dkudrin.c9users.io/test.html'> ТЕСТ</a>
 </body>
  <!-- Load the regular Content Experiments JS API without any ID parameters -->
  <script src="//www.google-analytics.com/cx/api.js?experiment=Mn72vdoWQUiWW_POHXht-A"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69093127-9', 'auto', {'allowLinker': true});
    ga('require', 'linker');
    ga('linker:autoLink', ['ga-devid-dkudrin.c9users.io', 'ga-catalog-dkudrin.c9users.io']);
  </script>
  
  <script>

  	var experimentOneID = "Mn72vdoWQUiWW_POHXht-A";
  	var experimentOneURL = "https://ga-devid-dkudrin.c9users.io/test.html";

    var runContentExperiment = function(experimentID) {
      var chosenVariation = cxApi.chooseVariation()
      cxApi.setChosenVariation(chosenVariation, experimentID)
      var pageVariations = [
        function() {
          alert('Original')
          ga('send', 'pageview', window.location.pathname);
          ga('send', 'event', 'website', 'catalog download clicked', 'catalog' + Date());
        },  
        function() {
          setTimeout(function() {
            alert('Experiment Variant 1')
            window.location = 'https://ga-catalog-dkudrin.c9users.io/variant1.html'
          }, 20000)
         
        },
        function() {
          setTimeout(function() {
            alert('Experiment Variant 2')
            window.location = 'https://ga-catalog-dkudrin.c9users.io/variant2.html'
          }, 20000)
        }
      ];
      pageVariations[chosenVariation]()
      
    }
    var currentUrl = window.location;
    console.log('currentUrl' + currentUrl)
    console.log('expeOneURL' + experimentOneURL)
    if (currentUrl == experimentOneURL) {
      console.log('match')
      runContentExperiment(experimentOneID);
    } else {
      console.log('not match')
    }
  </script>
  
 
  <!--<script type="text/javascript" src="scripts/index.js"></script>-->
</html>